[2014-02-12 21:28] yarden-livnat opened #3 "TaskController"
TaskController should allow the user to clear an error message. Currently this is done only when a new task is created or a null is assigned as the current task.

[2014-02-12 21:33] yarden-livnat opened #4 "MySQL tables optimization"
Some queries are slow.

Need to check which indexes are required. There seems to be too many of them right now

Should we impose pk/fk relations?

[2014-02-12 21:34] yarden-livnat opened #5 "Merge Category and Measure panels"
Create a single Fields panel

[2014-02-12 23:48] yarden-livnat opened #6 "Framework: remote table change"
When a view receives a remote table it should switch to it only if it was pointing at the default remote.

This is tricky. Either we need a new setDefault or the view can somehow figure which remote table is the default.

[2014-04-01 13:51] gidden opened #7 "deleted simulation remains in access bar"
given
* a workspace
* a simulation in the simulation list (box on the left hand side)
* the same simulation on the blue access bar

if you delete the simulation from the simulation list, it will not be removed from the access bar

[2014-04-01 13:54] gidden opened #8 "tables list not populated on simulation selection"
hi @yarden-livnat, from our previous conversation, I believe that there is still a bug related to the population of the tables box upon simulation selection. This is a screenshot right after connecting to dside and choosing my simulation (the first in the available list). I then select it in my workspace, and the tables box is not populated.

![no tables](https://cloud.githubusercontent.com/assets

[2014-04-01 13:57] gidden opened #9 "`save as` option in in File drop down"
It would be nice to be able to choose a separate location (if desired). Additionally, this would provide a new user a notion of where the current working directory is.

This is low hanging for now, but I think reasonable to expect for a release. I assume it will require changing some plumbing related to the default `save.xml` file name.

[2014-04-08 16:53] #8 closed, assigned to nobody

[2015-05-25 18:21] gidden opened #18 "getting a weird build error"
see the gist: https://gist.github.com/gidden/9d6e9f7a562c59c7e301

I'm still a n00b at java and its dependencies, any ideas @FlanFlanagan?

[2015-05-25 18:49] FlanFlanagan commented on #18
What version of java are you using?

[2015-05-25 21:31] gidden commented on #18
yup, definitely a version issue

[2015-05-25 21:31] #18 closed

[2015-05-26 17:10] FlanFlanagan opened #19 "tooltips for views"
Important fields should already be labels. Therefore adding tooltips should just be a matter of using
something like this.

                    Label name = new Label((String) facArray.get(0));
                    name.setTooltip(new Tooltip ("This is how you add tooltips"));

[2015-05-26 17:10] FlanFlanagan opened #20 "Help popups for all views"
Views need help messages in areas of confusion.

Should be easy to add using popups. Popup example can be found in FormBuilder.java line 312 - 323

[2015-05-26 17:11] FlanFlanagan opened #21 "Test Archetype for CycIC"
Need a cyclus facility with a wide array of uitypes / defaults / annotations in general for testing CycIC to ensure it works. Also to allow for new uitype testing.

[2015-05-26 17:12] FlanFlanagan opened #22 "Commodity changes with 'orMore' removals"
Need logic to remove commodities (in and out) from commodity arrays on prototypes.

FormBuilder.java line 135

Will be difficult. Requires knowledge of my internal structures.

[2015-05-26 17:12] FlanFlanagan opened #23 "Prototype circle color picker"
CycicCircle.java ~ Line 100. Should add a color picker to the menu.

Color picker coding can be found on CycIC.java - line 220.

[2015-05-26 17:13] FlanFlanagan opened #24 "Archetypes could have distinct colors based on name."
Cycic.Java - line 538.

circle.setFill should use VisFunctions.color (something like that) to set the color of the circle.

[2015-05-26 17:13] FlanFlanagan opened #25 "Archetype circles need full names"
CycIC.java - line 541

Somewhere in here remove the name splitting.

[2015-05-26 17:14] FlanFlanagan opened #26 "Region "instList" needs to be populated when regionView is opened"
instList is located in RegionView.java - line 40.

Simple test to see if there is anything in workingRegion.institutions and add to the list.

[2015-05-26 17:15] FlanFlanagan opened #27 "Rich Text in popups."
Looking for information on accomplishing this currently.

[2015-05-26 17:20] FlanFlanagan opened #28 "Help popups not sizing properly in linux"
Need to check to the popup to ensure it resizes automatically.

All popups should have setResizable() set to True.

[2015-05-26 17:21] FlanFlanagan opened #29 "Auto generate nullRegion/nullInst"
Difficult ish. Should be done via popup prompt.

[2015-05-26 17:22] FlanFlanagan opened #30 "Popups to indicate lack of region/inst"
OutPut.java line 36 is the main controller for outputs. Should probably happen here.

[2015-05-26 17:22] FlanFlanagan opened #31 "Shift text to bottom of circles."
CycicCircles.Java

circle.text needs to be moved to below circle.

Note I use center - radius*.6 right now to set it to show up in the upper left corner of the circle. Should only need to change the y value to take this above or below.

[2015-05-26 20:38] gidden opened #34 "nonempty, nonchanged defaults still showing up in input file"

[2015-05-26 20:38] gidden opened #35 "regions should require at least one institution"

[2015-05-26 20:42] gidden opened #36 "optional empty lists should not be written"
for example, the initialfacilitylist

[2015-05-26 20:58] FlanFlanagan opened #37 "Check Input File Button"
Button to check if the input file that would be generated using the current simulation in CycIC will generate a working Cyclus input file.

[2015-05-26 20:58] FlanFlanagan commented on #34
fixed

[2015-05-26 20:58] #34 closed

[2015-05-28 03:37] gonuke commented on #31
I've got this figured out, in principle, but the changes I make don't seem to have any effect...  I was able to make the archetypes have a different label location, but the same change for the prototypes failed to make a difference.

I'll try some more tomorrow

[2015-05-28 03:43] gonuke commented on #27
I think we may need to use a different markup language for this to work - maybe pure HTML?

[2015-05-28 15:49] gonuke commented on #31
Figured it out... text placement was happening in many places

[2015-05-28 16:15] gonuke opened #43 "Consider moving "Node Skins" and "Save Diagram""
The Node Skins and Save FC Diagram widgets appear to be part of the "Add prototype" form.

Some other possible locations are:
* context menu (right click) of background pane
* top-level menu
* bottom of pane

[2015-05-28 16:17] gonuke commented on #43
Perhaps also the "Local" & "Remote" switch

[2015-05-28 16:39] gonuke opened #44 "Use of keyboard is inconsistent"
I can use tab to move between input widgets, and arrow keys to scroll through drop downs, but the "Return" typically doesn't respond.  Intentional?

[2015-05-28 16:39] gonuke opened #45 "When a prototype is added using the input widgets across the top, its archetype should be added to the archetype ribbon"

[2015-05-28 19:10] gidden commented on #27
What markup/down can the text fields render? [JRst](https://www.openhub.net/p/jrst) might be promising to get us from restructuredtext to html or equivalent solution.

[2015-05-28 23:15] FlanFlanagan opened #47 "Return key not expanding drop down menus"
When tab selecting a drop down, return should expand the menu

[2015-05-28 23:18] FlanFlanagan commented on #43
I think that bottom or in the context pane make the most sense. At least for in the main view. That doesn't mean we can't put it on the top level

[2015-05-28 23:43] gonuke opened #48 "Centering text is not reliable"
For reasons I haven't been able (taken the time) to figure out...

Although we explicitly set the text alignment to be CENTERED, it doesn't get invoked until the text wraps.  There are some things on the interWebs about this...

[2015-05-28 23:44] gonuke opened #49 "There are no Institutions or Region Archetypes if their corrals are opened before the Main Window"

[2015-05-28 23:57] FlanFlanagan commented on #49
I have code for this. I will get it back in.I had turned it off for testing purposes.

[2015-05-29 00:11] FlanFlanagan opened #50 "Remove memory scroll from institution view for tutorial"

[2015-05-29 13:57] gonuke opened #51 "Recipe builder erases data"
I messed up in the recipe builder and added too many isotopes.  When I deleted the extra isotope, I found that it reset the mass basis to blank and it deleted some of my data values for the mass fractions.

[2015-05-29 14:28] gonuke opened #52 "Adding/Removing Institutions from Regions"
I created a null region and tried to add institutions:
* with no institutions defined, clicking the add button added "null"
* there is no button to delete an institution
* right-clicking on an institution deletes it (I discovered this accidentally and its non-intuitive)

[2015-05-29 14:29] gonuke commented on #52
Also... when I close the region form and re-open, the institution is gone.  When I re-add it, I get 2 copies. then I close & open again and its gone.... etc.

[2015-05-29 14:52] gonuke opened #53 "Regions & Institutions not in XML"
I generated an XML file from a scenario that I thought had everything defined:
![case1](https://cloud.githubusercontent.com/assets/764326/7885231/50af82c6-05e8-11e5-9f0c-b82a64e84231.png)

There were no regions or institutions in the XML file.

[2015-05-29 15:01] gidden commented on #53
Hi Paul,

Perhaps a silly question: was the institution added to the region (I can't
see from that particular screenshot)? This is the first I've seen of this
particular bug..

Matt

On Fri, May 29, 2015 at 9:52 AM, Paul Wilson <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-05-29 15:04] gonuke commented on #53
It was, but as stated in #52 I'm not sure it took.

I also just realized that this might actually have a different cause....

Cyclist is not generating new files when I repeatedly try to save this.  So it is possible that instead of this failing to include regions/institutions, the following happened:
1. I saved once before adding regions/institutions
2. for some other reason it isn't saving new f

[2015-05-29 15:05] gonuke opened #54 "Button to completely clear the scenario and start over"
It would be convenient to have a "New" button to easily start over without closing/opening

[2015-05-29 15:19] gonuke commented on #48
This might be the solution, and seems a big refactor that would probably add a nudge to a discussion I had with @FlanFlanagan about merging some of his classes.

http://stackoverflow.com/questions/7757169/centre-a-label-on-a-node-in-javafx-2-0

[2015-05-29 15:21] gonuke commented on #48
More information on this and why it doesn't work as expected: https://community.oracle.com/thread/2330022

[2015-05-29 15:22] gonuke commented on #48
@yarden-livnat is there something we are missing?  CSS?

[2015-05-29 15:27] gonuke commented on #48
If not using a stackPane, I think we need to calculate the bounds once the text value is set and then manually recenter.  I'm not sure how to trigger that dynamically as the text changes.

[2015-05-29 15:30] gonuke commented on #48
This looks promising: http://www.redmountainsw.com/wordpress/688/javafx-textalignment-gotcha/

[2015-05-29 15:40] FlanFlanagan commented on #53
Something else is wrong. It is just not generating a file because it has a
null pointer.
On May 29, 2015 10:04 AM, "Paul Wilson" <notifications@github.com> wrote:

[2015-05-29 15:41] FlanFlanagan commented on #53
This has happened before.
On May 29, 2015 10:40 AM, "Robert Flanagan" <flanny65@gmail.com> wrote:

[2015-05-29 15:45] yarden-livnat commented on #48
If only I had written Cyclist as a web SPA (single page application) using D3…. Life would have been so much easier.

Yarden

[2015-05-29 16:03] gonuke commented on #48
Don't let @scopatz hear you say that :) :(

[2015-05-29 16:07] gonuke commented on #48
Easier enough that you'll do it for v2.0?

[2015-05-29 16:10] FlanFlanagan commented on #48
A stackpane might be possible. Also, just saying, the JavaScript version of
Cycic still exists, although it needs a lot of work :)
On May 29, 2015 11:07 AM, "Paul Wilson" <notifications@github.com> wrote:

[2015-05-29 16:31] yarden-livnat commented on #48
Could be.

From the point of of view of writing better charts, better network graphs and having the capability to save (svg) pdf files the answer is a resounding yes. It would make deployment much simpler :-) Of course there is the caveat that things don’t work the same way on all browsers but I think compatibility has improved dramatically since MS stopped their in compatible IE but I haven’t loo

[2015-05-29 20:33] FlanFlanagan opened #55 "Add archetype level "doc" to prototype / archetype circles."

[2015-05-29 21:45] FlanFlanagan opened #56 "Add archetype level "doc" to prototype / archetype circles."

[2015-05-29 22:13] FlanFlanagan commented on #52
I have a fix for issues 1, and 3.

Issue 2 is a less obvious fix, i.e. where should the remove button exist?

[2015-05-29 22:40] #56 closed

[2015-05-30 19:43] gonuke commented on #52
Maybe convert "right-click = delete" to "right-click = menu with choice to delete"  This is kind of like a file-browser...

[2015-05-30 19:45] gonuke opened #57 "Region/Institution/Facility in directory browser style view"
Given the nesting that we encourage through Cycic, it might be useful for a view that presents:

[code]

etc.

[2015-05-30 19:51] FlanFlanagan commented on #52
That should be possible. It will depend on how the objects in a listview can be interacted with.

[2015-05-30 19:52] FlanFlanagan commented on #57
Should this function as a separate view or from the region view?

Either is very possible

[2015-05-30 20:40] gonuke commented on #57
It could take the place of the lists that exist in both the region and institution corral right now.  (But again - this is not critical path)

[2015-06-01 18:07] gonuke opened #58 "choosing DSARR as the default skin before DnD of archetypes gives empty space"
I set the skin to DSARR before dragging any archetypes into the pane and it appeared as though nothing happened.  When I toggled back to default/DSARR again, it came back fine.

[2015-06-01 18:14] FlanFlanagan commented on #58
This appears to be happening because some prototypes do not have appropriate niches until the a skin is selected after the prototype is placed. For example it is fine to switch to DSARR and then DnD a reactor, but not a separations facility.

[2015-06-01 20:17] gidden commented on #58
Does a niche get added then when the original skin is used to DnD? Could
that be done before DnDing?

On Mon, Jun 1, 2015 at 1:14 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-01 20:28] FlanFlanagan commented on #58
I can be done before. I never ran into this problem (since some of them work I never noticed the issue). What is missing is if the facility doesn't have a niche that matches a niche in the skin set it needs to take the generic "facility" niche.

[2015-06-01 20:29] FlanFlanagan commented on #58
It*

[2015-06-01 20:35] gidden commented on #58
Ok, if you point me to a line, I can fix it immediately. Otherwise it might
take me a while..

On Mon, Jun 1, 2015 at 3:29 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-01 20:43] FlanFlanagan commented on #58
line 284 of CycIC.java

facility.cycicCircle.image.setImage(DataArrays.visualizationSkins.get(i).images.get(facility.niche));

Basically what needs to happen is a check to see if the niche exists in the images key set. Which can be accessed most easily with

images.keySet().toArray();

If it passes then take that value otherwise take the map key "facility"

[2015-06-02 05:28] gonuke commented on #24
Fixed in #40

[2015-06-02 05:28] #24 closed

[2015-06-02 12:39] gonuke opened #61 "Ability to read an XML input file"
@FlanFlanagan is this possible before the tutorial?

[2015-06-02 12:52] FlanFlanagan commented on #61
A Cycic generated input file, or a non Cycic generated input file?

Also, I think there was a Cyclus input file tag that was set aside for this but I honestly don't remember it. Maybe Matt knows.

[2015-06-02 14:42] gonuke opened #62 "Allow user to choose label position"
Following #42, we can make it possible for the user to change from the default.

[2015-06-02 15:08] gidden commented on #61
There is a `ui` tag in which you can put any text. The idea here being that
you can generate an input file in cycic, dump cycic-specific information
(e.g., a json object) in the ui tag, and read that back in to return to the
original state.

This seems like a lot of work, but perhaps it is not..

On Tue, Jun 2, 2015 at 7:52 AM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.

[2015-06-02 16:29] FlanFlanagan commented on #61
I think I can get CycIC generated inputs done. Loading a non CycIC generated input is going to be pretty difficult just because placing things will  be tough.

[2015-06-02 16:47] FlanFlanagan commented on #61
Note, I have work to do til Wednesday then I can switch over to this.

[2015-06-02 16:47] gidden commented on #61
agreed

On Tue, Jun 2, 2015 at 11:29 AM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-02 18:35] gonuke commented on #52
Closed by merging #64

[2015-06-02 18:35] #52 closed

[2015-06-02 18:35] gonuke commented on #26
Fixed by #64

[2015-06-02 18:35] #26 closed

[2015-06-02 20:58] gidden opened #68 "using the "add prototype" bar at the top of the main view does not apply the same skin"
e.g.

![image](https://cloud.githubusercontent.com/assets/1392657/7947057/3dc81a64-0940-11e5-950e-6629e3f497a0.png)

[2015-06-02 20:59] FlanFlanagan commented on #68
Should be an easy fix, just a quick copy paste of the dnd code to add a
circle to the button code to add a circle.

On Tue, Jun 2, 2015 at 3:58 PM, Matthew Gidden <notifications@github.com>
wrote:

[2015-06-02 21:00] gidden commented on #68
I'm not sure I follow that..

[2015-06-02 21:00] gidden opened #69 "skin selection appears to be gone?"
I don't see it on the top of the main view anymore

[2015-06-02 21:01] FlanFlanagan commented on #68
I got it

On Tue, Jun 2, 2015 at 4:00 PM, Matthew Gidden <notifications@github.com>
wrote:

--
Robert Flanagan
Graduate Research Assistant
Nuclear and Radiation Engineering Program
Department of Mechanical Engineering
The University of Texas at Austin

[2015-06-02 21:13] gidden commented on #69
@FlanFlanagan informs me that its now in a drop down menu right clickable form the main view

[2015-06-02 21:13] #69 closed

[2015-06-02 21:14] gidden opened #71 "right-click archetype option menu doesn't go away"
until you select something on it

![image](https://cloud.githubusercontent.com/assets/1392657/7947398/7e3a5f38-0942-11e5-883c-8898466af43e.png)

[2015-06-02 21:23] gidden commented on #71
closed with #70

[2015-06-02 21:23] #71 closed

[2015-06-02 22:19] FlanFlanagan commented on #68
I fixed this with #70

[2015-06-02 22:19] #68 closed

[2015-06-02 22:24] gonuke commented on #58
Fixed in #59 or sooner

[2015-06-02 22:24] #58 closed

[2015-06-02 22:25] gonuke commented on #31
Fixed by #42.  Maybe some more tweaking, but it is all centralized now.

[2015-06-02 22:25] #31 closed

[2015-06-02 22:29] gonuke commented on #51
Fixed by #67

[2015-06-03 12:42] gonuke commented on #53
This appears to be fixed??? Closing since I can't replicate.

[2015-06-03 12:42] #53 closed

[2015-06-03 12:42] #51 closed

[2015-06-03 12:43] FlanFlanagan commented on #43
Two of these are done.

Paul how do you feel about this change to the execution environment toggle?

![image](https://cloud.githubusercontent.com/assets/737899/7960191/26c5f0c8-09c4-11e5-8730-6ad99a322325.png)

[2015-06-03 12:45] gonuke opened #74 "Optional values not written to XML when overriding defaults"
It appears that when I override the defaults on a user-level 1 form, that data is not making it into the XML file.

[2015-06-03 12:46] gonuke commented on #74
While testing this, I generated the following error stack:
[code]

[2015-06-03 12:55] FlanFlanagan commented on #74
I have some code to fix this. The code also makes a change related to #43

Can you take a look at what I suggested there Paul?

[2015-06-03 13:03] gonuke commented on #61
I think laying out nodes for an arbitrary input file is a bonus.  I'd be happy, at this stage, if it was laid out in any way and the user could rearrange it.

[2015-06-03 13:13] FlanFlanagan commented on #61
Mkay.

One more issue that I see coming up. Loading an input file not generated in CycIC without access to Cyclus or a specific archetype in the input file. Without some access to a cyclus -m type file I don't think this is feasible (with a CycIC generated file I can simple put that information into the <UI> tag).

[2015-06-03 14:16] gonuke commented on #43
That change looks fine to me.  If I was greedy, I'd wonder about using either radio buttons or a combo box, but moving the buttons there is fine with me.

[2015-06-03 14:21] gonuke commented on #61
This is a longer term issue, but one way to get a start on this would be to:
* identify that you were encountering an unknown archetype
* try running cyclus to get metadata for it, and if not fruitful
* notify the user that they will not be able to edit anything about that archetype
* store the full <config> block from the XML as a fixed string
* create a form that only allows the user to change F

[2015-06-03 14:22] FlanFlanagan commented on #43
I think a comboBox or radio buttons is fine. I'll put both in an post some pictures to get opinions.

[2015-06-03 14:28] gonuke commented on #29
I think we should also put 1 of every prototype in the initialfacility list for the NullInst, when doing this.

[2015-06-03 14:30] gonuke commented on #49
@FlanFlanagan Do you want me to take a look at this?  I would do it by just calling archetype discovery when these are opened.

[2015-06-03 14:32] FlanFlanagan commented on #49
@gonuke Sure. That should work as long as we aren't adding multiples to the simulation.

[2015-06-03 15:37] gidden commented on #29
Agreed.

On Wed, Jun 3, 2015 at 9:28 AM, Paul Wilson <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-03 15:39] FlanFlanagan commented on #29
Oh sorry, yeah. I assumed that was going to be the case. Doesn't really work otherwise.

[2015-06-03 15:44] gidden commented on #61
I agree that this is a longer term issue. At *most* we would want
capability to re-read in files Cycic has already saved. I'm not sure we
even have time for that before the tutorial, but I'm not the one
implementing it =).

On Wed, Jun 3, 2015 at 9:21 AM, Paul Wilson <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin

[2015-06-03 16:33] FlanFlanagan commented on #43
New demo, what's everyone's opinion.

![image](https://cloud.githubusercontent.com/assets/737899/7965622/553cc2ae-09e4-11e5-8d4a-482320f0f6bd.png)

[2015-06-03 16:41] gidden commented on #43
I'm +1 on the radio button

On Wed, Jun 3, 2015 at 11:33 AM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-03 18:18] gidden commented on #49
We are assigning issues in the dev call and it looks like you volunteered, @gonuke =)

[2015-06-03 18:21] gidden commented on #45
closed with #73

[2015-06-03 18:21] #45 closed

[2015-06-03 18:24] gidden commented on #36
others in the schema:
[code]

[2015-06-03 18:27] gidden opened #75 "add lifetime to userlevel > 0 for facility prototypes"

[2015-06-03 18:27] gidden commented on #75
note, this is ubiquitous, any facility prototype can have a lifetime

[2015-06-03 18:29] gidden commented on #35
blocked by #37

[2015-06-03 18:31] gidden commented on #29
assigned to @FlanFlanagan for more clarification

[2015-06-03 18:31] gidden commented on #25
done with #41

[2015-06-03 18:31] #25 closed

[2015-06-03 18:36] #9 closed

[2015-06-03 18:39] gidden commented on #5
done " a long time ago " but in " a galaxy far far away? "

[2015-06-03 18:39] #5 closed

[2015-06-03 18:39] #3 closed

[2015-06-03 18:40] yarden-livnat commented on #3
Old issue. Seems to have been addressed already

[2015-06-03 18:40] yarden-livnat commented on #7
fixed

[2015-06-03 19:11] #7 closed

[2015-06-03 19:18] gidden opened #76 "syncronize cycic/list with cloudlus and 1.3.1"
assigning to @FlanFlanagan, but it will be a bit of a team effort

[2015-06-04 12:35] gonuke opened #78 "Add icon to executable"
We discussed adding an icon to a deployable executable.  The best graphic to use is: http://fuelcycle.org/_static/big_c.png

The icon could appear as a desktop icon for launching as well as other places that app icons typically appear.

Found some info here: https://docs.oracle.com/javafx/2/deployment/self-contained-packaging.htm

[2015-06-04 13:07] gidden commented on #78
Hi Paul,

In my conda investigations, I found that Anthony also used a graphic:
https://raw.githubusercontent.com/cyclus/release/master/conda-recipes/cyclist/icon64x64.png

Since Anthony has already done the heavy lift, I think conda may be the
best way to go (as long as we get devs on each major platform to pitch in).

Matt

On Thu, Jun 4, 2015 at 7:35 AM, Paul Wilson <notifications@github.com>
w

[2015-06-04 13:23] gonuke commented on #78
I worry about requiring people who just want to try Cyclist to first install conda/miniconda.  If we can just make an app and serve that from somewhere, it should be easy.

[2015-06-04 13:27] gidden commented on #78
That sounds very reasonable. We discussed this in the dev call yesterday as
well. In both cases, a binary must be made on each platform (and in the
conda case, you have to also install conda..).

On Thu, Jun 4, 2015 at 8:23 AM, Paul Wilson <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-04 16:45] gidden opened #80 "release branch fails to run"
I get
[code]

any ides @FlanFlanagan, @yarden-livnat, @gonuke?

[2015-06-04 18:58] gonuke commented on #80
It works for me.  I do get some errors at startup, but it works fine.

[2015-06-04 18:59] gonuke opened #81 "Better interaction with initialfacilitylist in Inst View"
The same changes as #64 need to be applied to the init Fac list in the inst view

[2015-06-04 19:42] gidden commented on #80
it now builds for me, someone likely checked in a fix

On Thu, Jun 4, 2015 at 1:58 PM, Paul Wilson <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-04 19:45] gidden commented on #80
and I lied, it still fails. sorry all!

[2015-06-04 19:45] gidden commented on #80
the term "build" here is wrong. it fails to run

[2015-06-04 20:02] yarden-livnat commented on #80
I see the problem. At one point the list of Cycic tools factories were separated from the main list (Radio?). Unfortunately this breaks the restore capabilities of Cyclist.
I’ll find a solution soon.

[2015-06-04 20:14] yarden-livnat commented on #80
I see the problem. At one point the list of Cycic tools factories were separated from the main list (Radio?). Unfortunately this breaks the restore capabilities of Cyclist.
I’m working on a solution.

[2015-06-04 20:20] FlanFlanagan commented on #80
Umm...weird. I didn't move them.

[2015-06-04 20:35] yarden-livnat commented on #80
Fixed.
However, now Cycic tools are automatically saved and restored on exit/start and this seems to cause a problem

5371 [JavaFX Application Thread] INFO  edu.utexas.cycic.DataArrays  - Adding archetype :cycaless:DeployInst
java.lang.NullPointerException
8373 [JavaFX Application Thread] INFO  edu.utexas.cycic.DataArrays  - Adding archetype :cycamore:DeployInst
	at edu.utexas.cycic.XMLReader.read

[2015-06-04 20:42] yarden-livnat commented on #80
@FlanFlanagan
XMLReader.readSchema_new
calls on line 143
   for(int j = 0; j < node.item(i).getAttributes().getLength(); j++){

but getAttributes() returns null. Is it a legal value? If so than we should check for it. Otherwise it might be a problem somewhere else.

[2015-06-04 21:16] FlanFlanagan commented on #80
I think the problem is the Cycaless:DeployInst. It won't load because it's out dated. Just needs to be removed from the metadata file.

[2015-06-04 21:18] gidden commented on #80
the cycaless facilities probably dont need to be in there anymore..

On Thu, Jun 4, 2015 at 4:16 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-04 21:31] #80 closed

[2015-06-05 14:55] gidden opened #82 "the data exploration tab automatically opens cycic"
I assume this is not to be expected?

[2015-06-05 14:59] gidden commented on #82
also, shouldn't that probably be happening in the scenario builder tab? perhaps just flip their startup functions..

[2015-06-05 15:01] gidden opened #83 "remove cycaless facilities from defaults"
the cycaless facilities were a one-time bandaid, they are not needed any more. Is this a simple `cyclus -m` dump @FlanFlanagan? also, can you provide instructions for how to update that in general?

[2015-06-05 15:01] gidden commented on #82
assigning to yarden for now. I am happy to tackle if given some direction.

[2015-06-05 15:02] gidden commented on #83
assigning to @FlanFlanagan for now. I am happy to tackle if given some direction.

[2015-06-05 15:02] gidden commented on #81
@gonuke, can you assign a tutorial label as appropriate, please?

[2015-06-05 15:04] gidden opened #84 "forms should "remember" user level"
If I set a user level to some non-default value and close a form, it is returned to the default value upon reopening it.

[2015-06-05 15:10] gidden opened #85 "make institution form default size long enough to see "Add" button on default open"
current behavior:
![image](https://cloud.githubusercontent.com/assets/1392657/8008968/1cacab74-0b6b-11e5-9919-4bb124ab59f2.png)

[2015-06-05 15:17] gidden opened #86 "no obvious way to debug remote execution failures"
I just get "failed" in the jobs pane without any explanation

![image](https://cloud.githubusercontent.com/assets/1392657/8009117/011641b2-0b6c-11e5-86e7-8c261dbf59d7.png)

[2015-06-05 15:17] gidden commented on #86
(note the cyclus output at the bottom was from a local run)

[2015-06-05 15:56] FlanFlanagan commented on #83
cyclus -m >default-metadata.json

in the cyclist folder of cyclist2 will update the metadata.

[2015-06-05 16:08] FlanFlanagan commented on #86
With cyclus it would show you the input file you ran on the website.

I'm not sure if the input here is incorrect or if it's a connection issue.

[2015-06-05 16:23] FlanFlanagan commented on #82
I'm not seeing this issue and I just pulled. Does this happen all the time for you?

[2015-06-05 16:24] gidden commented on #82
Yes. I have a possible fix in a PR.

On Fri, Jun 5, 2015 at 11:23 AM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 16:29] gidden commented on #74
this is closeable @FlanFlanagan?

[2015-06-05 16:30] gidden commented on #86
The input here is definitely bad, but you have no idea what went wrong based on the UI feedback, only that the job failed.

[2015-06-05 16:32] yarden-livnat commented on #82
Nice catch :-)

I assume this happened only the first time you run Cyclist after the new perspective were put in. Is that right?

[2015-06-05 16:40] gidden commented on #82
As far as I can tell, yes. Anytime I build and open, the cycic main view
pops up in the "data exploration" pane.

On Fri, Jun 5, 2015 at 11:32 AM, Yarden <notifications@github.com> wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 17:11] yarden-livnat commented on #86
Is there a text message in the console (i..e the bottom panel that says ‘Cyclus run complete’)?

I don’t have Cyclus installed on my mac and I’m not sure what kind of error messages Cyclus provides.

[2015-06-05 17:12] yarden-livnat commented on #82
Did you delete the view and save the workspace?

[2015-06-05 17:57] gidden commented on #82
I did not save any workspaces.

On Fri, Jun 5, 2015 at 12:12 PM, Yarden <notifications@github.com> wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 17:59] yarden-livnat commented on #82
Oh. That’s why it kept coming back. I assume the problem disappeared after you fixed that bug.

[2015-06-05 18:03] gidden commented on #82
Yes, I have a PR in at https://github.com/cyclus/cyclist2/pull/88 if you
want to review it.

On Fri, Jun 5, 2015 at 12:59 PM, Yarden <notifications@github.com> wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 18:06] gidden commented on #86
That occurs for local runs, but there is no response for remote runs. Only
the job being "queued" and then "failed".

On Fri, Jun 5, 2015 at 12:11 PM, Yarden <notifications@github.com> wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 18:16] gidden opened #89 "Institution name not on representation"
It stays up to the side (foobar in this example)

![image](https://cloud.githubusercontent.com/assets/1392657/8012192/03abbc36-0b85-11e5-8b4c-537c3c00ca1c.png)

assigning to @FlanFlanagan, feel free to describe and reassign.

[2015-06-05 18:33] gidden opened #90 "the remote server being used to run remote jobs is not obvious"
It would be nice to have a check mark or something. Perhaps write out the name being used next to the remote button?

[2015-06-05 18:35] gidden commented on #90
I think putting the name next to the remote button is the easiest way forward.

[2015-06-05 18:42] FlanFlanagan commented on #30
62

Cyc

[2015-06-05 19:22] FlanFlanagan commented on #90
Cycic.java

Line 711-749.

Lines 718-738 are local

[2015-06-05 19:30] gidden commented on #89
done

[2015-06-05 19:30] #89 closed

[2015-06-05 19:30] gidden commented on #83
done

[2015-06-05 19:30] #83 closed

[2015-06-05 19:30] gidden commented on #82
done

[2015-06-05 19:30] #82 closed

[2015-06-05 19:31] gidden commented on #50
done

[2015-06-05 19:31] #50 closed

[2015-06-05 19:32] gidden commented on #49
@FlanFlanagan has this been fixed?

[2015-06-05 19:35] gidden commented on #30
did you mean to close this?

On Fri, Jun 5, 2015 at 1:42 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 19:38] gidden opened #93 "local job execution does not write xml file first (it seems)"
[code]

@FlanFlanagan, if you can point me, I can try to fix.

[2015-06-05 19:43] FlanFlanagan commented on #30
nope

On Fri, Jun 5, 2015 at 2:36 PM, Matthew Gidden <notifications@github.com>
wrote:

--
Robert Flanagan
Graduate Research Assistant
Nuclear and Radiation Engineering Program
Department of Mechanical Engineering
The University of Texas at Austin

[2015-06-05 19:43] gonuke commented on #49
fixed by #77

[2015-06-05 19:43] #49 closed

[2015-06-05 19:45] FlanFlanagan commented on #76
What needs to be done here?

Discover archetypes should work.

[2015-06-05 19:47] FlanFlanagan commented on #29
You still on this Matt or want me to take it?

[2015-06-05 19:56] FlanFlanagan commented on #74
I'm going to close this. If the issues comes up again let me know, but I think I fixed all of the instances of this.

[2015-06-05 19:56] #74 closed

[2015-06-05 20:10] gidden commented on #93
cycic 725

[2015-06-05 20:18] gidden commented on #29
Can you take it? It will require knowledge of the *Array datatypes.

On Fri, Jun 5, 2015 at 2:47 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 20:19] gidden commented on #76
True.

On Fri, Jun 5, 2015 at 2:46 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-05 20:19] gidden opened #94 "Specialize Jobs/Messages for Remote and Local execution"
- Local jobs should be added to list
- discover archetypes should be specialized (no menu, etc.)

[2015-06-05 20:33] FlanFlanagan commented on #29
Will do!

[2015-06-05 21:48] FlanFlanagan commented on #93
Closing

[2015-06-05 21:48] #93 closed

[2015-06-05 22:10] gidden commented on #94
Hi folks,

I've looked into this and it is not trivial to fix based on my understanding of the controllers. All cyclus job objects have been designed to work remotely. It's not clear to me how to add a "local" job to the Jobs pane. Conceptually it is simply:
- make a job object, set it to "busy"
- upon complete, update the job object
  - on fail, update to failed job
  - on success, update to link

[2015-06-05 22:23] gidden commented on #94
Also, it appears that all jobs will get the same menu. We should probably just hold on this and refactor after the tutorial.

[2015-06-05 22:23] #76 closed

[2015-06-05 23:33] yarden-livnat commented on #90
New server selection (and add/remove) in Cycic.
Removed the "Run" menubar

[2015-06-05 23:33] #90 closed

[2015-06-06 03:25] gidden commented on #81
can this be closed @gonuke ?

[2015-06-06 03:32] gonuke commented on #81
Fixed by #97

[2015-06-06 03:32] #81 closed

[2015-06-06 03:34] gonuke commented on #43
Closed by #60

[2015-06-06 03:34] #43 closed

[2015-06-06 03:38] yarden-livnat commented on #43
Robert,
   Do you mean the changes I made?

[2015-06-06 13:22] FlanFlanagan commented on #36
Looks like Paul fixed the initialFacilities list. I'll work on the others.

[2015-06-06 13:36] gidden commented on #36
@flanflanagan, if you can make issues and provide guidance, I can also try
to help with this

On Sat, Jun 6, 2015 at 8:22 AM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892.3192

[2015-06-06 16:22] gidden opened #98 "cycic start month default to January"
currently its February

[2015-06-06 16:33] gidden opened #99 "discover archetypes no longer works remotely"
I assume this is due to updated remote execution changes, correct @yarden-livnat? @FlanFlanagan, do you have any ideas here?

[2015-06-06 16:34] gidden commented on #99
to note, previously, if a server was selected (i.e., if remote was selected) discover archetypes would ping the server with a `cyclus -a` call.

[2015-06-06 16:35] gidden opened #100 "add a "local" option to the server combo box"
I know this was discussed previously, but I think this is related to #99

[2015-06-06 16:37] yarden-livnat commented on #99
Yes. I’ll fix it.

[2015-06-06 18:53] FlanFlanagan commented on #100
Looks like it's already there.

![image](https://cloud.githubusercontent.com/assets/737899/8020970/580a3cde-0c53-11e5-9320-4d268f94378b.png)

[2015-06-06 19:05] yarden-livnat commented on #99
Fixed.

I noticed that Cycic checked at the start if a local server exists and select it as the default if it does. The new UI saves and restore the list of servers the user used as well as the last one used. As such I think we don’t need that capability.

For clarity:
The new interface allows you to switch between known servers (the default cycrun.fuelcycle.org and ‘local’).
add: select the ‘— ad

[2015-06-06 20:10] gidden opened #102 "build currently fails"
with the output
[code]

[2015-06-06 20:21] gidden commented on #102
@yarden-livnat, perhaps a file wasn't added?

[2015-06-06 20:41] yarden-livnat commented on #102
It's a dangling import.
Fixed.

[2015-06-06 20:41] #102 closed

[2015-06-06 23:24] gidden commented on #100
that's new

[2015-06-06 23:24] #100 closed

[2015-06-06 23:25] gidden opened #103 "local execution fails"
with a "Submit job: communication error"

@FlanFlanagan, @yarden-livnat, any ideas?

[2015-06-06 23:26] gidden commented on #99
I think this is the right way to do it! Thanks @yarden-livnat!

[2015-06-06 23:26] #99 closed

[2015-06-06 23:27] gidden commented on #103
note this may be related to #94 in that there is no "local" representation of a `CyclusJob`

[2015-06-07 00:00] yarden-livnat commented on #100
We talked about it on Wednesday so I went ahead and implemented it. It should make switching between servers, adding and removing servers much simpler. The list of servers persists between runs. I also remove the 'Run" menu from the top level menubar.

To add a sever: select the '-- add new --' option and type the new url
To remove: select it and clear the entry

[2015-06-07 01:00] FlanFlanagan commented on #36
The only thing left for this is the facility lifetime I think.

The rest can probably be left out of the tutorial (solver, etc)

[2015-06-07 04:51] yarden-livnat commented on #103
I checked in a fix.
I can't really check it because I don't have a local server but the bug was simple so this should fix it.

[2015-06-07 13:09] gidden opened #109 ""generate" no longer saves an input file"
the dialog box to save one pops up but no file is written

any ideas @yarden-livnat or @FlanFlanagan?

[2015-06-07 13:11] gidden commented on #103
it is still broken for me. @yarden-livnat, would you mind using pull requests for this kind of update (i.e., those that you can't test locally)? that way, I can test the specific changes and we can discuss issues there as well.

[2015-06-07 13:12] gidden commented on #109
stderr reports:
[code]

[2015-06-07 13:13] gidden commented on #103
I get the same issue as #109 here. my guess is that the failure is the same: the subroutine stops after the file fails to write

[2015-06-07 13:21] gidden commented on #103
ok, I was working on an amalgamation of my PR branches, local execution works on the release branch. sorry for the false alarm!

[2015-06-07 13:21] #103 closed

[2015-06-07 13:22] gidden commented on #109
also an error with the amalgamation of my PR branches

[2015-06-07 13:22] #109 closed

[2015-06-07 13:55] gonuke commented on #29
Let me know if you want me to work on this on the plane, along with #30

[2015-06-07 13:55] gonuke commented on #29
(boarding within 15 minutes, or so)

[2015-06-07 16:17] gonuke commented on #75
Fixed in #110

[2015-06-07 19:54] gidden commented on #22
I think this is the issue tackled in #104. Can you provide a short description of what the problem is here so I know what to test? Thanks!

[2015-06-07 22:22] gidden opened #112 "month is not 1-indexed"
a value of January puts a "0" in the input file, which is not valid (must be `[1, 12]`)

@FlanFlanagan, do you know off the top of your head how to do this? It should be easy (i just don't know where) -- just print i + 1.

[2015-06-07 22:22] gidden commented on #98
fixed now but #112 has showed up

[2015-06-07 22:22] #98 closed

[2015-06-07 22:34] FlanFlanagan commented on #112
I will update the outdated

[2015-06-07 23:04] FlanFlanagan commented on #112
er output

[2015-06-08 12:45] FlanFlanagan commented on #61
First cut at this in PR #113

[2015-06-08 12:45] FlanFlanagan commented on #22
PR #104

[2015-06-08 14:07] FlanFlanagan commented on #29
PR #114  addresses this.

[2015-06-08 16:14] #75 closed

[2015-06-08 17:26] gonuke opened #115 "Opening the configure form on an agent makes a second form if already open"
If the form for an agent is already open, double clicking again should raise the focus of the existing form and not open a second form.

[2015-06-08 18:02] gonuke opened #116 "Finish proper handling when commodities are removed from commodity pane"
When commodities are removed from the Commodity Pane the following need to happen:

* [x] remove from simulation commodity list
* [x] remove from all facilities that currently use that commodity
* [x] redraw fuel cycle design
* [ ] remove from combo boxes of open

[2015-06-08 18:02] FlanFlanagan commented on #112
This should be fixed with #101 . I'm going to close for now.

[2015-06-08 18:02] #112 closed

[2015-06-08 18:03] gonuke opened #117 "Null commodities"
If a user opens the commodity combobox before any commodities are defined the commodity is set as "" or (null).

If a user does this on an incommod of one prototype and the outcommod of another prototype, they become connected with a nameless commodity arrow.

[2015-06-08 18:05] FlanFlanagan commented on #55
Paul added this with #111

[2015-06-08 18:05] #55 closed

[2015-06-08 18:06] FlanFlanagan commented on #28
Did anyone try this?

[2015-06-08 18:07] FlanFlanagan commented on #117
I'm sorry, this ones actually kind of funny...I'll take a look.

[2015-06-08 18:12] FlanFlanagan commented on #117
I have a fix for this but it causes another issue. If there is a commodity with an empty name, as in the user has not put in a name for that commodity it will not show a connection but an empty value will show in the commod dropdown.

[2015-06-08 18:12] FlanFlanagan commented on #117
I can that fix.

[2015-06-08 20:49] FlanFlanagan commented on #117
fixed in #118

[2015-06-08 20:49] FlanFlanagan commented on #85
fixed in #118

[2015-06-08 20:49] FlanFlanagan commented on #84
fixed in #118

[2015-06-08 20:50] FlanFlanagan commented on #61
finalized in #118

[2015-06-08 20:50] #29 closed

[2015-06-08 20:50] FlanFlanagan commented on #22
Issue #116 holds this now

[2015-06-08 20:50] #22 closed

[2015-06-08 20:51] FlanFlanagan commented on #28
now resizeable in #118

[2015-06-08 20:51] #28 closed

[2015-06-08 23:00] gonuke opened #119 "Saving files that were loaded doesn't work"
It appears that data for the recursive data containers is not being written back out properly.  It does appear correctly in the configure forms, so I can confirm that it's being read in correctly, but it is somehow not in the right data structures to be written back out correctly.

For example, the reactor's outcommodity.  I even tried to change it in the UI to see if that would reset it, but it d

[2015-06-08 23:22] FlanFlanagan commented on #119
I'm not sure what's happening. I'm not seeing this issue.

Are you saving, and then loading without closing Cyclist? Because if that's the case then I can probably do something to fix it. It should probably clear the current scenario if you try to load.

I fixed the niche thing with the most recent push.

[2015-06-08 23:24] gidden commented on #119
Hi Robert,

I saw this issue as well. The process was:

open cyclist -> make & save scenario -> close cyclist -> open cyclist ->
load scenario -> try to save scenario.

The last step will fail.

Matt

On Mon, Jun 8, 2015 at 6:22 PM, FlanFlanagan <notifications@github.com>
wrote:

--
Matthew Gidden, Ph.D.
Postdoctoral Associate, Nuclear Engineering
The University of Wisconsin -- Madison
Ph. 225.892

[2015-06-08 23:46] FlanFlanagan commented on #119
I believe you guys, I just haven't seen this issue yet so I'm not sure how to troubleshoot it. In the long term we definitely need to fix it if we can figure out what is causing the issue.

[2015-06-09 00:55] gonuke commented on #119
I was able to save after fixing an issue with converting startmonth back into an integer.  But if you look at the file that is saved, it is missing stuff.

For me, the process was :
- save file as 1
- quit cyclist
- start cyclist
- load file
- save file as 2
- compare 1 vs 2

[2015-06-09 01:55] FlanFlanagan commented on #119
I'm seeing the issue now. But the issue isn't in the serialization because when I load file 2 I see the fields that are missing populated with the proper values. What's happening here is an issue with the writing out.

Also if I read in file 2 and save as file 3, 2 = 3.

[2015-06-09 01:55] FlanFlanagan commented on #119
Do you guys want me to fix this?

[2015-06-09 02:17] FlanFlanagan commented on #119
The issue appears to be happening in orMore objects. I'll try and fix it.

[2015-06-09 04:08] FlanFlanagan commented on #119
This should now be fixed in my most recent PR.

[2015-06-09 14:19] gonuke opened #120 "Can't reopen Main View after closing it"
The following actions:
* open Main View
* work in Main View
* close Main View (using [X] at right end of title bar)
* try to open Main View

results in the following errors:
Exception in thread "JavaFX Application Thread" java.lang.IllegalArgumentException: Children: duplicate children added: parent = Grid hgap=4.0, vgap=4.0, alignment=TOP_LEFT
	at javafx.scene.Parent$2.onProposedChange(Parent.jav

[2015-06-09 16:07] gonuke opened #121 "Configure windows should update their title when the name of the prototype is updated"

[2015-06-09 17:52] gonuke commented on #119
This fixed many things, but recipes are still behaving the same way:
* the loaded information shows up correctly in the foms but doesn't get written back out correctly.

[2015-06-09 21:36] gonuke opened #126 "cleaner arrow drawing"
When two facilities have more than one arrow between them, the arrows should not overlap

Also shrink the label text and align to the arrow

[2015-06-09 21:43] gonuke opened #127 "archetype ribbon resets its position"
Under some circumstances, the archetype ribbon resets its index so that adding new facility archetypes will be placed over existing archetypes.

[2015-06-09 22:47] gonuke opened #128 "It should be possible to remove archetypes from the ribbon"

[2015-06-10 04:40] #117 closed

[2015-06-10 04:43] gonuke commented on #120
Resolved by making Main View unclosable

[2015-06-10 04:43] #120 closed

[2015-06-10 04:44] gonuke commented on #61
#130 fixed a final bug - considered resolved for now

[2015-06-10 04:44] #61 closed

[2015-06-10 04:45] gonuke commented on #36
Solved as needed so far

[2015-06-10 04:45] #36 closed

[2015-06-10 04:45] gonuke commented on #119
Resolved with #130

[2015-06-10 04:45] #119 closed

[2015-06-10 04:48] gonuke commented on #85
resolved

[2015-06-10 04:48] #85 closed

[2015-06-10 04:48] #84 closed

[2015-06-10 14:57] FlanFlanagan opened #134 "Sometimes when changing userLevel increases form size too much"
This drives the form view menu bar out of the cyclus workspace and makes it impossible to close. Need a way to close this.

Suggested solution: "Okay" box at the bottom of the view that also closes the window.

[2015-06-10 15:24] FlanFlanagan opened #135 "Do not add empty commodities or recipes"

[2015-06-10 16:15] FlanFlanagan opened #136 "Flow view graph should be resizable"

[2015-06-10 17:29] rwcarlsen opened #137 "pull in all TimeSeries tables"
Cyclus db's have a convention of allowing archetypes to write to fixed-schema time series tables with names of their choosing.  All time series tables are named ``TimeSeries[bla]`` and have the schema:

* SimID (blob/uuid)
* AgentId (int)
* Time (int)
* Value (double)

We should load in these tables automatically when opening a db/sim along with the other standard tables.

[2015-06-10 17:54] mbmcgarry opened #138 "plot colors"
Color of first trace on plots does not match it's color in the legend.

[2015-06-10 17:55] mbmcgarry opened #139 "Split workspaces for side-by-side comparisons"
Add a 'split' button that clones one parent workspace into two children workspaces that split the screen. The parent workspace should control the filters, while the children workspaces should be able to have different simIDs.

[2015-06-10 17:57] mbmcgarry opened #140 "Multiple simulations on the same plot"
Plot multiple simulations on the  same graph, with each simID denoted by different line-styles.

[2015-06-10 17:59] mbmcgarry opened #141 "Export to CSV"
Add an 'export to CSV' button to all plots, (currently missing from Tools -> Inventory).

[2015-06-10 21:48] gonuke commented on #136
Particularly, the "strip chart" below the flow view, can be of interest and should be resizable.

Also interest in toggling between log & linear y-axis.

[2015-06-10 21:55] gonuke opened #143 "uilabels for Inst & Region"
During the tutorial, it appeared that there were no uilabels set on DeployInst (and GrowthRegion).  However, I did find them on the current develop and even when they were present, they didn't get used in Cycic

[2015-07-02 15:57] yarden-livnat commented on #137
Checked-in an implementation in branch: wildcard-tables

[2015-07-08 04:16] FlanFlanagan commented on #143
This is handled in #145

[2015-07-13 16:49] gidden opened #147 "add recipe interaction needs update"
Currently, you can press "Add Recipe" any number of times and it will add blank entries into the recipe list. Those entries are not selectable afterwards.

I think the best way forward is to refactor the interface to use a stage-and-add pattern (similar to git commits, for instance). In the simplest implementation, two separate buttons are needed: "New Recipe" and "Add Recipe". Clicking "New Recip

[2015-07-15 19:59] gidden opened #148 "multiple commodity labels land on top of one another"
Specifically, if facility A can provide commodity X *or* Y to facility B, they end up on top of one another

e.g., the bottom reactor-to-sink connection at the bottom of
![region](https://cloud.githubusercontent.com/assets/1392657/8708522/1b8ea5f6-2b02-11e5-8c1b-f0ada48e2088.png)

[2015-07-16 13:54] gidden commented on #147
closed by #144

[2015-07-16 16:12] gidden opened #149 "Updating name does not update blue banner of prototypes"
e.g.,
![f](https://cloud.githubusercontent.com/assets/1392657/8728575/7fe0dd18-2bab-11e5-8b29-5438a880e86d.png)

[2015-07-19 02:24] FlanFlanagan commented on #149
Okay, I'll see if I can't fix this

[2015-07-23 16:49] gidden opened #150 "HEY RADIO! The local discover archetypes doesn't work"
Hey @FlanFlanagan, we were playing around with the developer's tutorial and I ran the discover archetypes and it failed.

Symptoms:
- it stalled for a while
- it eventually "discovered" them in the java std out box
- the list was only populated by a StubFacility

I'm happy to interface with you later about this for more info.

[2015-07-23 16:52] gidden commented on #150
I added the hey radio because we saw that in an old error, btw =)

[2015-07-23 16:55] gidden commented on #150
Here's a screenshot

![screenshot](https://cloud.githubusercontent.com/assets/1392657/8856650/b94571e6-3131-11e5-842d-7268ac22ef7b.png)

[2015-07-23 17:03] FlanFlanagan commented on #150
The Hey Radio error means I missed a c++ standard type. Which is what is
probably causing it to hang.

Judging from the screen shot there is something in the storage facility it
doesn't like. I'm traveling right now but I'll try and figure it out tonight
On Jul 23, 2015 12:55 PM, "Matthew Gidden" <notifications@github.com> wrote:

[2015-07-23 17:19] FlanFlanagan commented on #150
Hmm, the utk storage looks okay based on the .h file. Are you in a different branch?

[2015-07-24 16:58] gonuke commented on #150
This is from the storage facility from the dev tutorial

[2015-07-29 23:34] mbmcgarry opened #151 "unfiltering the inventory plot (feature request)"
In cyclist, the Inventory Plot has a dropdown menu that allows the user to filter on a specific nuclide or family of nuclides. However, once a filter has been applied, there does not appear to be a way to un-do it and revert back to the total inventory for the facility.  Please add a category to the dropdown box such as 'Total', which should continue to be the default.

[2016-05-31 16:51] #147 closed

[2016-07-07 15:24] FlanFlanagan opened #153 "New default archetypes"
Given a new release coming up I think there is a need for a new default facility list used in CycIC.

Perhaps we can decide which facilities belong there? Thanks!

[2016-09-16 15:47] FlanFlanagan commented on #149
This is fixed on the current version of develop

[2016-09-16 15:47] #149 closed

[2016-10-19 16:41] eriewski opened #157 "Java executable not building"
Hello, I am currently working as an undergraduate research student for @katyhuff
Prof. Huff recommended I ping @flanflanagan in this issue for assistance

After cloning the cyclus/cyclist2 directory, the executable fails to build when I run 'ant'. I get the following error when trying to build the Java executable.

 [javac] /home/eric/cyclist2/deploy/build/src/edu/utexas/cycic/FormBuilderFunctions

[2016-10-19 16:57] yarden-livnat commented on #157
Eric,

Robert might have insight for this particular problem. As far as Java 8,
I assume you mean you have the latest JDK on your machine. Note that
regular Java 8 updates typically involved only updating the JRE on your
machine.

Yarden

eriewski wrote:

[2016-10-19 18:00] FlanFlanagan commented on #157
I'll look into this when I get some time this evening.

[2016-10-21 22:43] FlanFlanagan commented on #157
@eriewski

Two things:
Which branch are you on?

and can you run the following command in a terminal and paste the result here.
update-alternatives --config java

Thanks!

[2016-10-22 22:59] eriewski commented on #157
Sorry for the late reply.
I am on the top branch of cyclist2. /cyclist2$
When running the following command, I get the following: "There is only one alternative in link group java (providing /usr/bin/java): /usr/lib/jvm/java-8-oracle/jre/bin/java
Nothing to configure."

[2016-10-23 06:40] FlanFlanagan commented on #157
Could you do a
`git checkout develop`
in your cyclist2 directory to switch to the develop branch. It's possible you're on the 'master' branch.

[2016-10-24 04:37] eriewski commented on #157
@flanflanagan

Thank you very much. This solved my problem.

[2017-03-02 16:05] #157 closed, assigned to nobody

[2017-07-21 18:50] #143 closed